.sass-Forms {
  $break-small: 1000px;
  $break-large: 1000px;

  @media screen and (max-width: $break-small) {
    form {
      margin-top: 20px;
    }

    form button {
      background-color: transparent;
      border: none;
      box-shadow: none;
      height: 30px;
      width: 100px;
      font-weight: 700;
      color: black;
    }
  }

  @media screen and (min-width: $break-large) {
    form {
      margin-top: 50px;
    }

    form button {
      transition: color 1s, background-color 1s;
      background-color: transparent;
      border: none;
      box-shadow: none;
      height: 30px;
      width: 100px;
      font-weight: 700;
      color: black;
    }

    form .form-group .form-control {
      width: 100%;
    }

    .signupContainer {
      background-color: white;
      border-radius: 20px;
      padding: 50px 200px 50px;
    }

    .borderTransition {
      border-bottom: 3px solid #00ABF9;
      width: 0px;
      transition: width 0.7s;
    }

    .borderTransition:hover {
      width: 100px;
    }
  }

  .signupContainer {
    background-color: white;
    border-radius: 20px;
    padding: 20px 50px;
  }

}