.sass-FriendsRequests {
  .list-group-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .noPendings {
    margin-top: 30px;
    color: grey;
    font-weight: 700;
    font-size: 11px;
  }

  .accept {
    color: green;
    font-size: 25px;
  }

  .delete {
    color: red;
    font-size: 25px;
  }

  button {
    margin-left: 10px;
    margin-right: 10px;
  }
}