.sass-FriendInvite {
  .inviteForm {
    margin: 20px 0px 0px 20px;
  }

  .inviteButton {
    margin-left: 20px;
    width: 200px;
    box-shadow: none;
    border: 2px solid #00ABF9;
    font-weight: 700;
    border-radius: 10px;
    background-color: transparent;
    color: #00ABF9;
  }

  .inviteForm .form-group .form-control {
    min-width: 250px;
  }
}