body {
    /* IE10+ */
    background: -ms-radial-gradient(center top, ellipse farthest-corner, #00ABF9 -10%, #00296B 80%);

    /* Mozilla Firefox */
    background: -moz-radial-gradient(center top, ellipse farthest-corner, #00ABF9 -10%, #00296B 90%);

    /* Opera */
    background: -o-radial-gradient(center top, ellipse farthest-corner, #00ABF9 -10%, #00296B 90%);

    /* Webkit (Safari/Chrome 10) */
    background: -webkit-gradient(radial, center top, 0, center top, 359, color-stop(-30, #00ABF9), color-stop(90, #00296B));

    /* Webkit (Chrome 11+) */
    background: -webkit-radial-gradient(center top, ellipse farthest-corner, #00ABF9 -10%, #00296B 90%);

    /* W3C Markup */
    background: radial-gradient(ellipse farthest-corner at center top, #00ABF9 -10%, #00296B 90%);

    height: 100vh;
}

.navbar {
    background-color: transparent;
    border: none;
    color: white;
}

.navbar-default .navbar-nav li a {
    color: white;
    font-size: 20px;
    border: 3px solid transparent;
    transition: color 1s, border 1s;
}

.navbar-default .navbar-nav li a:hover {
    color: #00ABF9;
}

.navbar-default .navbar-nav li a:focus {
    color: white;
    border-bottom: 3px solid #00296B;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 30px;
    font-weight: 700;
    transition: color 1s;
}

.navbar-default .navbar-brand:hover {
    color: #00ABF9;
}

.navbar-default .navbar-brand:focus {
    color: white;
}

.appNameColor {
    color: #00ABF9;
}

.greetContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.greetMessage {
    width: 50%;
    border-radius: 10px;
    background-color: white;
    padding: 10px 50px 20px 50px;
}

.buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons .btn {
    width: 180px;
}

.signupContainer {
    background-color: white;
    border-radius: 20px;
    padding: 50px 200px 50px;
}

form {
    margin-top: 50px;
}

form button {
    transition: color 1s, background-color 1s;
    background-color: transparent;
    border: none;
    box-shadow: none;
    height: 30px;
    width: 100px;
    font-weight: 700;
}

.borderTransition {
    border-bottom: 3px solid #00ABF9;
    width: 0px;
    transition: width 0.7s;
}

.borderTransition:hover {
    width: 100px;
}

.flashHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.close {
    align-self: center;
}

.mainUserContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.friendsChatContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userGreetings {
    display: flex;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    justify-content: center;
}

.username {
    margin-left: 10px;
}

.friendsContainer {
    width: 28%;
}

.chatContainer {
    width: 70%;
    min-height: 400px;
}

.panel-info .panel-heading {
    background-color: #00ABF9;
    border-color: #00ABF9;
    color: white;
}

.panel-info {
    border-color: #00ABF9;
    border-radius: 5px;
    height: 100%;
}
